.body {
	text-align: center;
	margin: 0px;
}
.home {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://static.garmincdn.com/en_GB/store/sports_rec/subcategory/running/hero_running_watch.jpg');
}
.title {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 7px;
	font-size: 50px;
	margin-top: 0px;
}

.welcome {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}

.signout {
	float: right;
	padding-right: 10px;
	font-family: 'Roboto', sans-serif;
}

.signinPanel {
	width: 50%;
	margin: auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.createAccountLink {
	color: white;
}

.signupPanel {
	margin: auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.remainingCals {
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}

.positive {
	color: red;
}

.negative {
	color: green;
}

.activityForm {
	margin: auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.input {
	margin: 10px;
	color: black;
}

.todaysLog {
	text-align: center;
}

.logWindow {
	text-align: center;
}

.log {
	border: 1px solid black;
	padding: 5px 20px 5px 20px;
	margin: auto;
	margin-top: 5px;
	width: 30%;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.calories {
	margin-left: 50px;
	float: right;
}

.delete {
	padding-left: 10px;
	color: black;
	float: right;
}

.delete:hover {
	color: red;
}